@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
  }
}

.sectionQuestion {
  padding: 9.6rem 0;
  background-color: #f7f7f7;
}

.subHeading{
  margin-top: 6rem;
  /* padding: 10px; */
  text-align: center;
  margin-bottom: 2rem;
}

.faqs {
  padding: 0px 20px 20px;
}

::-webkit-details-marker {
  float: right;
}

.slide-container {
  margin-top: 6rem;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
}

details {
  background: #dcdedf;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 14px;
  font-family: "Rubik";
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

details summary {
  outline: none;
  margin-bottom: 1.2rem;
}

.title {
  text-align: center;
  text-transform: capitalize;
  margin: 10px 0;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  bottom: 10px;
  left: 50%;
}

.team-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.member {
  flex: 1 1 250px;
  margin: 20px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  max-width: 300px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}


.member img {
  display: block;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  
}

.member h2 {
  text-transform: uppercase;
  font-size: 24px;
  color: #5651e5 ;
  margin: 15px 0;
}

.member p {
  font-size: 15px;
  line-height: 1.6rem;
}